<?xml version="1.0" encoding="utf-8"?>
<module
	loadFromBin="false"
	clientResourceRelativePath=""
	type="KinAndCarta.Connect.Webhooks.WebHooksModule, KinAndCarta.Connect.Webhooks"
	authorizationPolicy="webhooks:webhookadmin"
	viewEngine="Razor"
	moduleJsonSerializerType="Net"
	prefferedUiJsonSerializerType="Net" >
	
	<assemblies>
		<add assembly="KinAndCarta.Connect.Webhooks" />
	</assemblies>

	<clientModule>
		<moduleDependencies>
			<add dependency="Shell" />
			<add dependency="CMS" type="RunAfter" />
		</moduleDependencies>
	</clientModule>
</module>