<appSettings>
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PasswordResetValidMinutes" value="60" />
  <add key="AutoMigrateEPiServer" value="false" />
  <add key="DisableVersionSync" value="true" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  <add key="episerver:UpdateDatabaseSchema" value="true" />
  <add key="episerver:tracking.Enabled" value="false" />
  <!-- Content Analytics & Recs Configuration -->
  <!-- <add key="episerver:personalization.content.Environment" value="idio.co" />
  <add key="episerver:personalization.content.ClientId" value="CHANGEME" />
  <add key="episerver:personalization.content.ApiToken" value="CHANGEME" >-->
  <!-- Insight configuration -->
  <!-- <add key="episerver:profiles.InsightApiBaseUrl" value="CHANGEME" />
  <add key="episerver:profiles.InsightApiSubscriptionKey" value="CHANGEME" />
  <add key="episerver:profiles.CloudUIBaseUrl" value="CHANGEME" />-->
  <!-- Profile Store tracking configuration -->
  <!-- <add key="episerver:profiles.TrackingApiBaseUrl" value="CHANGEME" />
  <add key="episerver:profiles.ProfileStoreTrackingEnabled" value="false" />
  <add key="episerver:profiles.TrackingApiSubscriptionKey" value="CHANGEME" />
  <add key="episerver:profiles.Scope" value="foundation" />-->
  <!-- Profile Store API configuration -->
  <!-- <add key="ProfileStore.Url" value="CHANGEME" />
  <add key="ProfileStore.SubscriptionKey" value="CHANGEME" />
  <add key="profileStore.RootApiUrl" value="CHANGEME" />
  <add key="Vision:Key" value="CHANGEME" />
  <add key="Vision:ApiRoot" value="CHANGEME" />-->
  <!-- Content Delivery API -->
  <add key="episerver:contentdelivery:maphttpattributeroutes" value="false" />
  <add key="episerver:contentdeliverysearch:maphttpattributeroutes" value="false" />
  <!-- Settings to ensure everything works nicely when using Cloudflare -->
  <add key="episerver:ClientIPAddressHeader" value="CF-Connecting-IP" />
  <add key="episerver:ClientLocationHeader" value="CF-IPCountry" />
  <!-- Settings to de-serialize the large number of JSON data -->
  <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
  <!-- Fix session request limit thing? -->
  <add key="aspnet:RequestQueueLimitPerSession" value="2147483647"/>
  <add key="aspnet:AllowConcurrentRequestsPerSession" value="true" />
</appSettings>
