<appSettings>
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PasswordResetValidMinutes" value="60" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <!-- We're requestion many small files, so whilest CDN cache is warming we might get hit wit a lot of queue issues-->
  <add key="aspnet:RequestQueueLimitPerSession" value="200" />
  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  <add key="episerver:UpdateDatabaseSchema" value="true" />
  <add key="episerver:findcommerce.IgnoreWebExceptionOnInitialization" value="true" />
  <add key="episerver:tracking.Enabled" value="false" />
  <!-- Configure for External delivery -->
  <add key="episerver:ManagementDomain" value="epi-demo.nl" />
  <add key="episerver:setoption:EPiServer.Core.Internal.ExternalApplicationOptions.OptimizeForDelivery,EPiServer" value="true" />
  <!-- Content Delivery API -->
  <add key="episerver:contentdelivery:maphttpattributeroutes" value="false" />
  <add key="episerver:contentdeliverysearch:maphttpattributeroutes" value="false" />
  <!-- Service API -->
  <add key="episerver:serviceapi:maphttpattributeroutes" value="false" />
  <add key="episerver:serviceapi:requiressl" value="false" />
  <!-- Settings to ensure everything works nicely when using Cloudflare (all of SA should use Cloudflare) -->
  <add key="episerver:ClientIPAddressHeader" value="CF-Connecting-IP" />
  <add key="episerver:ClientLocationHeader" value="CF-IPCountry" />
  <!-- Settings to de-serialize the large number of JSON data -->
  <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
  <!-- Project GraphQL -->
  <add key="optimizely:gatewayaddress" value="https://optimizely.gq" />
  <add key="optimizely:query.appkey" value="2WeXz4OEAyLKTWMxmEDgLk0vZIUTtRQ1UvuykO4qMLKRCfxW" />
  <add key="optimizely:query.secret" value="gtRNfHXXqByX/U7Tp5KHzJ4SJqDG0ai9epkXTtUcQJM13GpUPpZDv8fSM0n+Nxhb" />
  <add key="optimizely:query.singlekey" value="fcUBvBQJRhc4zOPX0RxCjigWFxOxpH5DqGF5D5GjKjnnOmIW" />
</appSettings>