<appSettings>
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PasswordResetValidMinutes" value="60" />
  <add key="AutoMigrateEPiServer" value="false" />
  <add key="DisableVersionSync" value="true" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  <add key="episerver:UpdateDatabaseSchema" value="true" />
  <add key="episerver:tracking.Enabled" value="true" />
  <!-- Content Analytics & Recs Configuration -->
  <add key="episerver:personalization.content.Environment" value="idio.co" />
  <add key="episerver:personalization.content.ClientId" value="salesdemo" />
  <add key="episerver:personalization.content.ApiToken" value="MXWZU7T906VAQ6RDR91A" />
  <!-- Insight configuration -->
  <add key="episerver:profiles.InsightApiBaseUrl" value="https://insightapi-prep01.profilestore.episerver.net" />
  <add key="episerver:profiles.InsightApiSubscriptionKey" value="f19bfcee811641aab4a1ee638dd26b49" />
  <add key="episerver:profiles.CloudUIBaseUrl" value="https://cloudui-prep01.profilestore.episerver.net" />
  <!-- Profile Store tracking configuration -->
  <add key="episerver:profiles.TrackingApiBaseUrl" value="https://track-prep01.profilestore.episerver.net" />
  <add key="episerver:profiles.ProfileStoreTrackingEnabled" value="true" />
  <add key="episerver:profiles.TrackingApiSubscriptionKey" value="a9fe3bc469c64159a98cc370676d8527" />
  <add key="episerver:profiles.Scope" value="foundation" />
  <!-- Profile Store API configuration -->
  <add key="ProfileStore.Url" value="https://profilesapi-prep01.profilestore.episerver.net" />
  <add key="ProfileStore.SubscriptionKey" value="09179703ab9841faa9c27e31f12238c2" />
  <add key="profileStore.RootApiUrl" value="https://profilesapi-prep01.profilestore.episerver.net" />
  <add key="Vision:Key" value="38192ad9dc5647d1b4d6328d420ac505" />
  <add key="Vision:ApiRoot" value="https://eastus.api.cognitive.microsoft.com/" />
  <!-- Content Delivery API -->
  <add key="episerver:contentdelivery:maphttpattributeroutes" value="false" />
  <add key="episerver:contentdeliverysearch:maphttpattributeroutes" value="false" />
  <!-- Service API -->
  <add key="episerver:serviceapi:maphttpattributeroutes" value="false" />
  <add key="episerver:serviceapi:requiressl" value="false" />
  <!-- Settings to ensure everything works nicely when using Cloudflare (all of SA should use Cloudflare) -->
  <add key="episerver:ClientIPAddressHeader" value="CF-Connecting-IP" />
  <add key="episerver:ClientLocationHeader" value="CF-IPCountry" />
  <!-- Settings to de-serialize the large number of JSON data -->
  <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
  <!-- Fix session request limit thing? -->
  <add key="aspnet:RequestQueueLimitPerSession" value="2147483647"/>
  <add key="aspnet:AllowConcurrentRequestsPerSession" value="true" />
</appSettings>
