<appSettings>
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PasswordResetValidMinutes" value="60" />
  <add key="AutoMigrateEPiServer" value="false" />
  <add key="DisableVersionSync" value="true" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  <add key="episerver:UpdateDatabaseSchema" value="true" />
  <add key="episerver:findcommerce.IgnoreWebExceptionOnInitialization" value="true" />
  <add key="episerver:tracking.Enabled" value="true" />
  <!-- Insight configuration -->
  <add key="episerver:profiles.InsightApiBaseUrl" value="https://insightapi-eastus01.profilestore.episerver.net/" />
  <add key="episerver:profiles.InsightApiSubscriptionKey" value="IVZm1KiPpBRZyVoLgAIrRxCnIoCHEqBXJGlCWfhO0HNgmLmF" />
  <add key="episerver:profiles.CloudUIBaseUrl" value="https://cloudui-eastus01.profilestore.episerver.net/" />
  <!-- Profile Store tracking configuration -->
  <add key="episerver:profiles.TrackingApiBaseUrl" value="https://track-eastus01.profilestore.episerver.net/" />
  <add key="episerver:profiles.ProfileStoreTrackingEnabled" value="true" />
  <add key="episerver:profiles.TrackingApiSubscriptionKey" value="Ffj3VUcVJ5ZMqjDPViVVhOVeb0yok05vySDXSkg1pVHWOgiQ" />
  <add key="episerver:profiles.Scope" value="foundation" />
  <!-- Profile Store API configuration -->
  <add key="ProfileStore.Url" value="https://profilesapi-eastus01.profilestore.episerver.net/" />
  <add key="ProfileStore.SubscriptionKey" value="V25hYIDigi0Sn1YVOHyPyYEgAVRBbfaBUASjao5zvZHPlQcs" />
  <add key="profileStore.RootApiUrl" value="https://profilesapi-eastus01.profilestore.episerver.net/" />
  <add key="PeeriusUrl" value="https://partnerdemo.peerius.com/tracker" />
  <add key="Vision:Key" value="38192ad9dc5647d1b4d6328d420ac505" />
  <add key="Vision:ApiRoot" value="https://eastus.api.cognitive.microsoft.com/" />
  <!-- Content Delivery API -->
  <add key="episerver:contentdelivery:maphttpattributeroutes" value="false" />
  <add key="episerver:contentdeliverysearch:maphttpattributeroutes" value="false" />
  <!-- Settings to ensure everything works nicely when using Cloudflare (all of SA should use Cloudflare) -->
  <add key="episerver:ClientIPAddressHeader" value="CF-Connecting-IP" />
  <add key="episerver:ClientLocationHeader" value="CF-IPCountry" />
  <!-- Settings to de-serialize the large number of JSON data -->
  <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
  <!-- Settings to Reindexing a site without affecting other developer indexes -->
  <add key="episerver:Find.ReindexMySitesOnly" value="true"/>
</appSettings>
