<appSettings>
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PasswordResetValidMinutes" value="60" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  <add key="episerver:UpdateDatabaseSchema" value="true" />
  <add key="episerver:findcommerce.IgnoreWebExceptionOnInitialization" value="true" />
  <add key="episerver:tracking.Enabled" value="false" />
  <!-- Content Delivery API -->
  <add key="episerver:contentdelivery:maphttpattributeroutes" value="false" />
  <add key="episerver:contentdeliverysearch:maphttpattributeroutes" value="false" />
  <!-- Service API -->
  <add key="episerver:serviceapi:maphttpattributeroutes" value="false" />
  <add key="episerver:serviceapi:requiressl" value="false" />
  <!-- Settings to ensure everything works nicely when using Cloudflare (all of SA should use Cloudflare) -->
  <add key="episerver:ClientIPAddressHeader" value="CF-Connecting-IP" />
  <add key="episerver:ClientLocationHeader" value="CF-IPCountry" />
  <!-- Settings to de-serialize the large number of JSON data -->
  <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
</appSettings>