<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishUrl>..\..\pub\Headless.Cms</PublishUrl>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>https://foundationspareact5.epi-demo.nl/</SiteUrlToLaunchAfterPublish>
    <TargetFramework>net6.0</TargetFramework>
    <ProjectGuid>b830f4dd-b2de-4b1e-9098-4626af43f24b</ProjectGuid>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>