@using Foundation.Features.Login

@model UserViewModel

@{
    Layout = "~/Features/Shared/Views/_LoginLayout.cshtml";
    var logo = Model.Logo;
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 login__row">
                    <a href="/">
                        <img src="@logo" alt="Home" class="img-fluid" style="max-height: 80px" />
                    </a>
                </div>
            </div>
            <h1 class="errorpage">500</h1>
            <h2 class="errorpage">Unexpected Error <b>:(</b></h2>
            @if (System.Web.HttpContext.Current.IsDebuggingEnabled)
            {
                <p>@Model.ErrorMessage</p>
                <p>@Model.StackTrace</p>
            }
        </div>
    </div>
</div>