.top-header {
    display: flex;
    align-items: center;
    height: 35px;
    background: #07577B;
    color: #fff;

    &__banner-text {
        flex-grow: 1;
        text-align: center;

        > p {
            margin-bottom: 0;
        }
    }
}

.header {
    height: auto;
    margin-bottom: 25px;
    

    &__logo {
        text-align: center;
        vertical-align: middle;
        line-height: $navigation-height;
    }

    &__right {
        .dropdown {
            outline: 0;
        }
    }

    &__icon-menus {
        display: inline-flex;
        float: right;

        > .icon-menu:not(:last-child) {
            border-left: 1px solid #eee;
        }

        > .icon-menu:last-child {
            border-left: 1px solid #eee;
            border-right: 1px solid #eee;
        }
    }
}

.login-button {
    position: absolute;
    z-index: 700;
    top: 0;
    right: 15px;
    user-select: none;
    cursor: pointer;
    outline: 0;
    display: block;
}

a.login-url {
    color: #fff;
    padding: 0 25px;

    &:hover, &:focus, &:visited {
        color: #fff;
    }
}
