@import "../../styles/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

header {
    .header-top {
        background-color: theme-color("secondary");
        color: $white;
        font-size: $font-size-sm;

        .header-top-content {
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;

            * {
                margin: 0px;
                padding: 0px;
            }
        }

        .header-top-service {
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;

            text-align: right;
        }
    }

    a {
        color: $white;

        &:hover {
            color: theme-color("primary");
        }
    }

    .btn-link {
        color: theme-color('light');

        &:hover {
            color: darken(theme-color('light'), 15%)
        }
    }
}