.location-list-page {
    .leaflet-container {
        min-height: 350px;
        height: 50vh;
        width: 100%;
        max-width: 100vw;
    }

    .location-image {
        float: left;
        max-width: 5rem;
        margin-right: 1rem;
    }
}