.location-list-page {
    .leaflet-container {
        min-height: 350px;
        height: 50vh;
        width: 100%;
        max-width: 100vw;
    }

    /*.location-list-item {
        img,
        img.img-fluid {
            height: 100% !important;
            width: auto !important;
        }
    }*/
}