@import "../../styles/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.location-item-page {
    .header-image {
        padding-top: 0;
        padding-bottom: 20%;
        overflow: hidden;

        img {
            position: absolute;
            top: 50%;
            left: $grid-gutter-width / 2;
            right: $grid-gutter-width / 2;
            width: calc(100% - #{$grid-gutter-width});
            max-width: none;
            transform: translate(0, -50%);
        }

        h1 {
            position: absolute;
            bottom: 0;
            left: $grid-gutter-width / 2;
            right: $grid-gutter-width / 2;
            padding-left: $grid-gutter-width;
            margin-bottom: $grid-gutter-width / 2;

            color: theme-color('light');
            text-shadow: 0px 0px 0.25rem theme-color('dark');
        }
    }

    .leaflet-container {
        height: 100%;
        min-height: 350px;
    }
}