@use 'sass:map';
@import "../../styles/variables";
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.standardpage-bg {
    position: absolute;
    width: 100%;
    z-index: -1;

    .overlay {
        position: absolute;
        height: 100%;
        top: 0px;
        background: linear-gradient(180deg, fade-out($white, 1), fade-in($white,1));
    }

    .img-fluid {
        width: 100%;
        height: auto;
    }
}
.standardpage-container {
    margin-top: 10rem;
    margin-bottom: 10rem;
}