<!DOCTYPE html>
<html lang="en" data-attrs="html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="preconnect" href="https://a.idio.co" /> <!-- Improve connection speed to IDIO -->
        <link rel="preconnect" href="https://s.idio.co" /> <!-- Improve connection speed to IDIO -->
        <link rel="manifest" href="<%= htmlWebpackPlugin.options.packagePath %>manifest.json" crossorigin="use-credentials">
        <link rel="icon" href="<%= htmlWebpackPlugin.options.packagePath %>favicon.ico" type="image/x-icon"/>
        <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.packagePath %>favicon.ico" type="image/x-icon"/>
        <!--SSR-META-->
        <!--SSR-LINK-->
        <!--SSR-TITLE-->
        <!--SSR-CONTEXT-->
        <!--SSR-SCRIPT-->
        <!--SSR-STYLE-->
        <!--HEADER-RESOURCES-->
    </head>
    <body data-attrs="body">
        <noscript>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="alert alert-warning mt-3">This site offers basic functionality without JavaScript, but do expect a degraded user experience.</div>
                    </div>
                </div>
            </div>
        </noscript>
        <div id="epi-page-container"><!--SSR-BODY--></div>
        <%= htmlWebpackPlugin.tags.bodyTags %>
        <!--FOOTER-RESOURCES-->
    </body>
</html>