<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<rewrite>
		  <rules>
        <rule name="ClientResources" stopProcessing="true">
          <match url="^ClientResources/(.*)" />
          <action type="Rewrite" url="{R:1}"/>
        </rule>
        <rule name="Spa" stopProcessing="true">
          <match url="^Spa/(.*)" />
          <action type="Rewrite" url="{R:1}"/>
        </rule>
			  <rule name="SPA Routes" stopProcessing="true">
			    <match url=".*" />
			    <conditions logicalGrouping="MatchAll">
				  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
				  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
			    </conditions>
			    <action type="Rewrite" url="/" />
			  </rule>
		  </rules>
		</rewrite>
    </system.webServer>
</configuration>
