.r-10-2 {
    position: relative;
    width: 100% !important;
    padding-bottom: 20% !important;
    overflow: hidden !important;
}
.r-10-3 {
    position: relative;
    width: 100% !important;
    padding-bottom: 30% !important;
    overflow: hidden !important;
}
.r-10-5 {
    position: relative;
    width: 100% !important;
    padding-bottom: 50% !important;
    overflow: hidden !important;
}
.r-10-7 {
    position: relative;
    width: 100% !important;
    padding-bottom: 70% !important;
    overflow: hidden !important;
}
.r-10-10 {
    position: relative;
    width: 100% !important;
    padding-bottom: 100% !important;
    overflow: hidden !important;
}
.r-10-15 {
    position: relative;
    width: 100% !important;
    padding-bottom: 150% !important;
    overflow: hidden !important;
}
.r-16-9 { /* 16:9 Ratio */
    position: relative;
    width: 100% !important;
    padding-bottom: 56.25% !important;
    overflow: hidden !important;
}