
.d-cover
{    
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}


.placeholder {
    border: 1px solid #999;
    background-color: #CCC;
    color: #999;
    text-align: center;
    vertical-align: middle;
}