<?xml version="1.0" encoding="utf-8" ?>
<module loadFromBin="false"
        moduleJsonSerializerType="Net"
        prefferedUiJsonSerializerType="Net"
		    clientResourceRelativePath="">

  <assemblies>
    <add assembly="EPiServer.OpenIDConnect.UI" />
  </assemblies>

  <routes>
    <route url="{moduleArea}/{controller}/{action}/">
      <defaults>
        <add key="moduleArea" value="EPiServer.OpenIDConnect.UI" />
        <add key="controller" value="" />
        <add key="action" value="Index" />
      </defaults>
    </route>
  </routes>

  <clientResources>
    <add name="EPiServer.OpenIDConnect.UI" path="clientResources/dist/openidconnect.ui.bundle.css" resourceType="Style" />
    <add name="EPiServer.OpenIDConnect.UI" path="clientResources/dist/openidconnect.ui.bundle.js" resourceType="Script" />
  </clientResources>

  <clientModule>
    <moduleDependencies>
      <add dependency="Shell" />
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>

</module>
