<?xml version="1.0" encoding="utf-8" ?>
<module 
        moduleJsonSerializerType="Net"
        prefferedUiJsonSerializerType="Net"
		    clientResourceRelativePath="">

  <assemblies>
    <add assembly="Headless.Cms" />
  </assemblies>
  
	<dojo>
		<paths>
			<add name="headlesscms" path="Scripts" />
		</paths>
	</dojo>

	<clientModule initializer="headlesscms.Initialize">
		<moduleDependencies>
			<add dependency="CMS" type="RunAfter" />
		</moduleDependencies>
	</clientModule>

  <routes>
    <route controllerPrefix="EPi">
      <defaults>
        <add key="controller" value="OpenApiTool" />
        <add key="action" value="Index" />
        <add key="id" value="1.0.0" />
      </defaults>
    </route>
  </routes>
  
</module>