<?xml version="1.0" encoding="utf-8" ?>
<module>
	<dojo>
		<paths>
			<add name="headless.cms" location="Scripts" />
		</paths>
	</dojo>

	<clientResources>
		<add name="headless.cms.initialize" path="Scripts/Initialize.js" resourceType="Script" />
	</clientResources>
	
    <clientModule initializer="headless.cms/Initialize">
		<moduleDependencies>
			<add dependency="Shell"/>
		</moduleDependencies>
	</clientModule>
</module>