<?xml version="1.0" encoding="utf-8" ?>
<module 
	moduleJsonSerializerType="Net" 
	prefferedUiJsonSerializerType="Net" 
	clientResourceRelativePath="" 
	viewEngine="Razor"
	type="Foundation.ApiExplorer.ApiExplorerModule, Foundation.ApiExplorer">
	
	<assemblies>
		<add assembly="Foundation.ApiExplorer" />
	</assemblies>

</module>