<?xml version="1.0" encoding="utf-8" ?>
<module 
	moduleJsonSerializerType="Net" 
	prefferedUiJsonSerializerType="Net" 
	clientResourceRelativePath="" 
	viewEngine="Razor"
	type="Foundation.ApiExplorer.ApiExplorerModule, Foundation.ApiExplorer">
	
	<assemblies>
		<add assembly="Foundation.ApiExplorer" />
	</assemblies>

	<routes>
		<route controllerPrefix="EPi">
			<defaults>
				<add key="moduleArea" value="Foundation.ApiExplorer" />
				<add key="controller" value="ApiExplorer" />
				<add key="action" value="Index" />
				<add key="id" value="" />
			</defaults>
		</route>
	</routes>
</module>