@using EPiServer.Shell.Navigation
@model Foundation.ApiExplorer.AdminSection.ApiExplorer.ApiExplorerModel

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Optimizely CMS - API Explorer</title>
    <style>
        body {
            padding: 0;
            margin: 0;
        }

        #mainBody {
            position: absolute;
            margin-top: 40px;
            width: 100vw; 
            height: calc(100vh - 40px); 
            box-sizing: border-box; 
            padding: 0px;
        }
    </style>
</head>
<body>
    @Html.Raw(Html.CreatePlatformNavigationMenu())
    <div id="mainBody">
        <iframe src="@Model.SwaggerUrl" frameborder="0" allowFullScreen="true" style="width: 100%; height: 100%;"></iframe>
    </div>
</body>
</html>