.page-list-grid {
    .tile {
        .overlay {
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            color: #fff;
        }
    }
    
}
.PageListBlock{
    h2{
        margin:auto;
    }
}